html
  head
    script(type='text/javascript' src='bundle.js' async)
  body
    .grid-container
      section.dateTime
        time.date
        br
        time.time
      section.weather
        span.summary
        br
        span.temperature
      section.search
        form(action='https://duckduckgo.com' method='get')
          input(type='text' name='q' autocomplete='off' tabindex='0' placeholder='Search Duckduckgo...')

