html
  head
    script(type='text/javascript' src='bundle.js' async)
  body
    .grid-container
      section.dateTime
        time.date
        br
        time.time
      section.weather
        span.summary
        sup.temperature
