html, body {
  margin: 0;
  padding: 0;
  //font-family: 'Halvetica nene', sans-serif;
  font-family: 'Anonymous Pro for Powerline', 'Ubuntu Mono', 'Monaco', monospace;
  font-size: 48px;
  line-height: 1.7rem;
  font-weight: 300;
  background-size: cover;
  background-position: center center;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 12% 38% 38% 12%;
  grid-template-rows: 25% 25% 25% 25%
}

.dateTime {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  .date {
    font-size: 2rem;
  }

  .time {
    font-size: 1.5rem;
  }
}

.weather {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  text-align: right;

  .summary {
    font-size: 2rem;
  }

  img {
    margin-left: 0.5rem;
  }

  .temperature {
    vertical-align: top;
    font-size: 1.5rem;
  }
}

.search {
  grid-column: 2 / 4;
  grid-row: 3 / 4;

  input[type=text] {
    display: block;
    padding: 0.2rem;
    font-size: 0.5rem;
    width: 60%;
    outline: none;
  }
}
